<div class="wrapper">
	<div class="tools">
		<button (click)="createNote()" class="tools__create">
			Создать заметку
		</button>
	</div>
	<input
		(input)="searchInput()"
		*ngIf="notes.length > 5"
		[(ngModel)]="searchText"
		class="input"
		placeholder="Поиск"
		type="text"
	/>
	<ng-container *ngIf="notes">
		<div *ngIf="viewNotes.length > 0; else zeroNotes" class="notes">
			<div
				(click)="navigateToNote(note.id)"
				*ngFor="let note of viewNotes"
				class="note"
			>
				<div class="note__name">{{ note.name }}</div>
				<div class="note__content">{{ note.content | stripHtmlTags }}</div>
				<div *ngIf="note.tags.length > 0" class="note__tags">
					<svg-tags width="15px"></svg-tags>
					<span class="note__tag">
						{{ note.tags[0].name }}
					</span>
				</div>
				<div class="note__createDate">
					{{ note.createDate | date : "longDate" }}
				</div>
			</div>
		</div>
	</ng-container>

	<ng-template #zeroNotes> заметок нет</ng-template>
</div>
