.wrapper {
  display: flex;
  height: 100%;
  background: var(--color-background);
  nav {
    overflow-y: auto;
  }
  .content {
    padding: 10px;
    flex: 1;

    overflow-y: auto;

    scrollbar-width: 1;

    &::-webkit-scrollbar {
      width: 1px;
    }
  }
}
