<ng-container>
	<div class="note" *ngFor="let note of notes">
		<h4 class="note__createDateTime">
			{{ getDateTime(note.createDate) }}
		</h4>
		<h3 class="note__name">{{ note.name }}</h3>
		<div class="note__tags">
			<ng-container *ngIf="note.tags.length == 0">
				<div class="tag__img">
					<img src="assets/icon/tags-in-notes.svg" alt="" />
				</div>
				<span>Тегов нет</span>
			</ng-container>
			<ng-container *ngIf="note.tags.length > 1">
				<tags-custom-dropdown [tags]="note.tags"> </tags-custom-dropdown
			></ng-container>
			<ng-container *ngIf="note.tags.length == 1">
				<div class="tag__img">
					<img src="assets/icon/tags-in-notes.svg" alt="" />
				</div>
				<span>{{ note.tags[0].name }}</span>
			</ng-container>
		</div>
	</div>
</ng-container>
