<app-modal-layout
	#layout
	(click)="clickLayout($event)"
	(closeClick)="outsideClick.emit()"
>
	<div class="title">Создать тег</div>
	<div class="createTag">
		<input
			[(ngModel)]="createTagName"
			[class.invalid]="errorCreateTag !== null"
			class="input"
			placeholder="Название тега"
			type="text"
		/>
		<button (click)="createTag()">Создать</button>
	</div>
	<div *ngIf="errorCreateTag !== null" class="error">{{ errorCreateTag }}</div>
	<div class="searchTag">
		<div class="title">Поиск тега</div>
		<input
			(input)="searchInput()"
			[(ngModel)]="searchText"
			class="input"
			placeholder="Поиск"
			type="text"
		/>
		<div *ngIf="errorSearchTag !== null" class="error">
			{{ errorSearchTag }}
		</div>
	</div>
	<div *ngIf="viewTags.getValue().length > 0; else zeroTags" class="tags">
		<div *ngFor="let tag of viewTags | async" class="tags__item tag">
			<!-- Отображение имени тега -->
			<span class="tag__title">{{ tag.name }}</span>
			<!-- Кнопка для добавления тега -->
			<button (click)="addTag(tag.id)" class="tag__add">+</button>
		</div>
	</div>
	<!-- Отображается, когда тегов нет -->
	<ng-template #zeroTags>
		<div class="zeroTags">Тегов нет</div>
	</ng-template>
</app-modal-layout>
