.createTag {
	display: flex;
	gap: 5px;
	button {
		padding: 5px 10px;
		color: var(--color-text);
		background: var(--color-note-tools-background);
		border: 1px solid var(--color-note-tools-border);
		transition: background 0.45s ease;
		&:hover {
			background: var(--color-note-tools-background-hover);
		}
	}
}
.error {
	color: #d72020;
	font-size: 12px;
	font-weight: normal;
}
.tags {
	&__item {
		display: flex;
	}

	.tag {
		border: 1px solid var(--color-modal-input-border);

		&__title {
			flex: 1;

			padding: 5px 10px;
			transition: all 0.45s ease;
			&:hover {
				background: var(--color-modal-text-background);
			}
		}

		&__add {
			padding: 5px 10px;

			letter-spacing: -0.75px;

			color: var(--color-modal-input-text);
			transition: all 0.45s ease;
			background: inherit;
			&:hover {
				background: var(--color-modal-text-background);
			}
		}
	}
}

.zeroTags {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
