<label [for]="name" *ngIf="title">{{ title }}</label>
<input
	[class.valid]="formControl && formControl.touched && !formControl.invalid"
	[class.invalid]="
		(formControl && formControl.touched && formControl.invalid) ||
		(form && form.touched && form.errors)
	"
	[type]="type"
	[placeholder]="placeholder"
	[value]="value"
	(input)="convertEvent($event)"
	(blur)="onTouched()"
	[name]="name"
/>

<div class="checkbox" *ngIf="isPasswordType">
	<div class="checkbox__icon" (click)="togglePasswordShow()">
		<img src="assets/icon/tick.svg" alt="tick" *ngIf="passwordShow" />
	</div>
	<span class="checkbox__title" (click)="togglePasswordShow()"
		>показать пароль</span
	>
</div>

<!-- Errors -->
<ng-container
	*ngIf="
		(formControl && formControl.touched && formControl.errors) ||
		(form && form.touched && form.errors)
	"
>
	<ng-container *ngIf="formControl.errors || form.errors">
		<div class="error" *ngIf="formControl.hasError('required')">
			Поле обязательно для заполнения
		</div>
		<div class="error" *ngIf="formControl.hasError('minlength')">
			Минимальная длина
			{{ formControl.getError("minlength").requiredLength }}
			символов
		</div>
		<div class="error" *ngIf="formControl.hasError('maxlength')">
			Максимальная длина
			{{ formControl.getError("maxlength").requiredLength }}
			символов
		</div>
		<div class="error" *ngIf="form && form.getError('noConfirmPassword')">
			Пароли не совпадают
		</div>
	</ng-container>
</ng-container>
