<ng-container *ngIf="profile">
	<div class="wrapper">
		<div class="login">Логин: {{ profile.login }}</div>
		<div class="firstName">Имя: {{ profile.firstName }}</div>
		<div class="lastName">Фамилия: {{ profile.lastName }}</div>
		<div class="email">Почта: {{ profile.email }}</div>
		<button (click)="logout()">Выйти из аккаунта</button>
		<div class="pinCode">
			{{ isPinCode ? "Обновите пин-код" : "Установите пин-код" }}
		</div>
		<input
			type="text"
			class="input"
			[placeholder]="isPinCode ? 'Старый пин-код' : 'Пин-код'"
			(input)="validateNumericInput($event)"
			[(ngModel)]="pinCode"
			maxlength="6"
		/>
		<input
			maxlength="6"
			type="text"
			class="input"
			placeholder="Новый пин-код"
			*ngIf="isPinCode"
			[(ngModel)]="newPinCode"
			(input)="validateNumericInput($event)"
		/>
		<span *ngIf="errorPinCode">{{ errorPinCode }}</span>
		<button (click)="setPinCode()" *ngIf="!isPinCode">Установить</button>
		<button
			(click)="updatePinCode()"
			*ngIf="isPinCode"
			[disabled]="pinCode.length < 6 || (isPinCode && newPinCode.length < 6)"
		>
			Обновить
		</button>
		<button
			*ngIf="isPinCode"
			(click)="deletePinCode()"
			[disabled]="pinCode.length < 6"
		>
			Удалить пин-код
		</button>
	</div>
</ng-container>
