<div class="wrapper" *ngIf="tags">
  <div class="tags-list">
    <div class="tag" *ngFor="let tag of tags">
      <div class="tag__name">{{ tag.name }}</div>
      <div class="tag__buttons">
        <button class="buttons" (click)="callModalConfirmDeleteTag(tag.id)">
          Удалить
        </button>
        <button class="buttons" (click)="navigateToTag(tag.id)">Заметки</button>
        <!-- <button class="buttons">Редактировать</button> -->
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="isOpenModalConfirm">
  <app-modal-confirm
    header="Вы действительно хотите удалить тег?"
    (confirm)="deleteTag()"
    (cancel)="isOpenModalConfirm = false"
  ></app-modal-confirm>
</ng-container>
